/* Basic editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    .mention {
        // background-color:rgb(var(--mdui-color-secondary-container));
        background-color: #8080802b;
        border-radius: 0.4rem;
        box-decoration-break: clone;
        // color: purple;
        padding: 0.1rem 0.3rem;
    }
}